happinesea.ec.rws.tool.version = '0.0.5'
happinesea.ec.rws.tool.agent = 'happinesea crawler ' + happinesea.ec.rws.tool.version
happinesea.ec.rws.tool.connection.timeout = 60000
happinesea.ec.rws.tool.socket.timeout = 60000
happinesea.ec.rws.tool.default.encode = 'UTF-8'
happinesea.ec.rws.tool.rms.api.url = 'https://api.rms.rakuten.co.jp'
