happinesea.ec.rws.tool.version = '0.0.6'
happinesea.ec.rws.tool.agent = 'happinesea crawler ' + happinesea.ec.rws.tool.version
happinesea.ec.rws.tool.connection.timeout = 60000
happinesea.ec.rws.tool.socket.timeout = 60000
happinesea.ec.rws.tool.default.encode = 'UTF-8'
happinesea.ec.rws.tool.rms.api.url = 'https://api.rms.rakuten.co.jp'
happinesea.ec.rws.tool.csv.layout.eccube.item = [
''//商品ID
,'fix:1'//公開ステータス(ID)
,'fix:公開'//公開ステータス(名称)
,'itemName'//商品名
,''//ショップ用メモ欄
,'catchCopyForPC'//商品説明(一覧)
,'descriptionForPC'//商品説明(詳細)
,''//検索ワード
,''//フリーエリア
,''//商品規格ID
,'itemUrl'//商品種別(ID)
,'1'//商品種別(名称)
,''//規格分類1(ID)
,''//規格分類1(名称)
,''//規格分類2(ID)
,''//規格分類2(名称)
,''//発送日目安(ID)
,''//発送日目安(名称)
,'itemNumber'//商品コード
,'itemInventory.inventories.inventory.inventoryCount'//在庫数
,'fix:0'//在庫数無制限フラグ
,'fix:0'//販売制限数
,'itemPrice'//通常価格
,'itemPrice'//販売価格
,'images.image.imageUrl'//商品画像
,'categories.categoryInfo.categoryId'//商品カテゴリ(ID)
,'categories.categoryInfo.name'//商品カテゴリ(名称)
,'tagIds.tagId'//タグ(ID)
,'tagIds.name'//タグ(名称)
]
happinesea.ec.rws.tool.csv.layout.eccube.category = ['categoryId','name', 'dummy']
